body {
    background-color: #1a1b26;
}

#image {
    width: 500px;
    height: auto;
    display: block;
}

#image-download {
    color: #a9b1d6;
    font-size: 16px;
    display: block;
}

#image-download:hover {
    color: #7aa2f7;
}

#clear-btn {
    float: right;
}

#reset-btn {
    float: right;
}

#clear-btn:hover {
    background-color: #b1c8fa;
}

#reset-btn:hover {
    background-color: #fab1be;
}

